@page "/"
@namespace Blazor_Pixel_XP.Pages
@layout Blazor_Pixel_XP.Shared.MainLayout

<div class="hero d-flex align-items-center justify-content-center text-center">
    <div class="hero-content text-white">
        <h1 class="display-4">Ласкаво просимо в Pixel XP</h1>
        <p class="lead">Організуй свої турніри та слідкуй за рейтингом команд</p>
        <NavLink class="btn btn-primary btn-lg" href="tournaments">Перейти до турнірів</NavLink>
    </div>
</div>
